.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TopicsBackground {
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-bottom: 5%;
  background-color: rgb(211, 138, 3);
  border-radius: 15px;
  width: 600px;
  height: auto;
}

.TopicsBackgroundClicked{
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-bottom: 5%;
  background-color: rgb(2, 2, 199);
  border-radius: 15px;
  width: 600px;
  height: auto;
}

#header {
  width: 600px;
}

#inputMessage {
  margin: 0px;
  padding-top: 0px;
  float: left;
  width: 85%;
  height: 8em;
  border-radius: 15px;
}

#sendButton {
  background-color: green;
  width: 50px;
  height: 60%;
  margin-top: 3.5%;
  border-radius: 15px;
}

#selectedTopic {
  margin-bottom: 20px;
  width: 50%;
}

.Messages {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto auto;
  margin-top: 0px;
}

.eachMessage {
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-bottom: 5%;
  background-color: rgb(211, 138, 3);
  border-radius: 15px;
  width: 400px;
  height: auto;
}